<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>dStore</title>
</head>
<body>
    <div id="bg"></div>
    <section>
        <header><p id="title">Welcome to Danmaku Store</p></header>
        <main>
            <div id="status">
                    <div id="preview">213</div>
            </div>
            <form action="">
                <ul class="flex space-between">
                    <input type="text" class="col1" name="nickname" placeholder="你的昵称=_^"/>
                    <input type="text" class="col1" name="content" placeholder="你的弹幕^_="/>
 
                    <input type="text" class="col2" name="position" placeholder="出现位置(0~540)"/>
                    <input type="text" class="col2" name="time" placeholder="出现时间(0~50)(^_−)☆"/>
                    <input type="text" class="col2" name="alive" placeholder="存活时间(0~10)(^_−)||"/>
                    <input type="text" class="col2" name="fontSize" placeholder="弹幕大小(1~20) ▄︻┻┳══━一">
                </ul>
                <input type="button" class="" id="submit" value="提交"/>
            </form>
        </main>
    </section>
    <script src="http://127.0.0.1:8080/build/dStore.js"></script>
</body>
</html>