<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>dStore</title>
</head>
<body>
    <div id="bg"></div>
    <section>
        <header><p id="title">Welcome to Danmaku Store</p></header>
        <main>
            <form action="">
                <input type="text" placeholder="你的昵称=_^"/>
                <input type="text" placeholder="你的弹幕^_="/>
                <ul class="flex">
                    <li class="item"><img src="" alt=""></li>
                    <li class="item"><img src="" alt=""></li>
                    <li class="item"><img src="" alt=""></li>
                </ul>
                <input type="button" class="" id="btn" value="提交"/>
            </form>
        </main>
    </section>
    <script src="http://127.0.0.1:8080/build/dStore.js"></script>
</body>
</html>