body,p,ul,li {
    padding: 0;
    margin: 0;
}

#bg {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    background-color: #000;
    opacity: 0.2;
    z-index: -1;
}

section {
    width: 900px;
    border: 1px solid #eee;
    border-radius: 5px;
    margin: 20px auto 0;
}

header {
    padding: 10px 0;
    border-bottom: 1px solid #eee;
}

#title {
    color: #fff;
    font-size: 24px;
    text-align: center;
}

main {
    width: 900px;
    margin: 0 auto;
    padding: 20px 20px 0px 20px;
    box-sizing: border-box;
}

input {
    width: 100%;
    display: block;
    box-sizing: border-box;
    margin-bottom: 10px;
    background-color: #eee;
    border: 1px solid #eee;
    padding: 8px 4px;
    outline: none;
}

::-webkit-input-placeholder { /* WebKit browsers */
    color:    #AFAFAF;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #AFAFAF;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #AFAFAF;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    #AFAFAF;
}

input[type="text"] {
    font-size: 14px;
    color: #000;
}

input[type='text']:focus {
    border-color: #000;
}

input[type="button"] {
    margin: 10px 0;
}

input[type="button"]:hover {
    cursor: pointer;
}

input[type="button"]:active {
    border-color: #000;
}

input[type="button"]:focus {
    border-color: #000;
}

.flex {
    margin: 5px 0;
    font-size: 0px;
    display: flex;
    
    flex-flow: row wrap;
}

.space-around {
    justify-content: space-around;
}
.space-between {
    justify-content: space-between;
}

.item {
    width: 200px;
    height: 200px;
    border: 1px solid #eee;
}

.item:hover {
    cursor: pointer;
}

#status{
    width: 100%;
    height: 200px;
    margin-bottom: 20px;
    border: 1px solid #fff;
    border-radius: 5px;
    line-height: 200px;
}

.col1{
    width: 100%;
}

.col2{
    width: 45%;
}

#confirm {
    width: 100%;
    height: inherit;
    display: none;
}

#confirm-container {
    text-align: center;
    color: #fff;
}

#confirm-content {
    padding: 10px 0;
}

#hide-confirm {
    padding: 4px 48px;
    background-color: #ccc;
    border: 1px solid #fff;
    border-radius: 5px;
    outline: none;
    color: #fff;
    font-size: 14px;
}
#hide-confirm:hover {
    background-color: #fff;
    color: #ccc;
    cursor: pointer;
}

#preview {
    text-align: center;
    
}